name: AGLint

env:
  NODE_VERSION: 20

on:
  push:
    branches:
      - master
    paths:
      - "**/*.txt"
  pull_request:
    branches:
      - master
    types:
      - opened
    paths:
      - "**/*.txt"

jobs:
  lint:
    name: Run AGLint
    runs-on: ubuntu-latest
    steps:
      - name: Check out to repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # If the linter found any errors, it will exit with a non-zero code,
      # which will cause the job to fail
      - name: Run AGLint
        run: yarn lint
