# Workflow file for running markdownlint
# https://github.com/DavidAnson/markdownlint

name: markdownlint

env:
  NODE_VERSION: 20

on:
  push:
    branches:
      - master
    paths:
      - "**.md"
      - ".markdownlint.json"
      - ".markdownlintignore"
      - "package.json"
      - "yarn.lock"
  pull_request:
    branches:
      - master
    paths:
      - "**.md"
      - ".markdownlint.json"
      - ".markdownlintignore"
      - "package.json"
      - "yarn.lock"

jobs:
  markdownlint:
    name: Run markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Check out to repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # If the linter found any errors, it will exit with a non-zero code, which will cause the job to fail
      - name: Run markdownlint
        run: yarn lint:md
